---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Astro Project">
  <main class="grid gap-4 p-4">
    <h1 class="text-4xl underline">Home page</h1>
    <Card body="This is the body of the card" title="Card title" href="/" />
  </main>
</Layout>
